.container {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: auto-fit;
    grid-template-rows: 100px 75px auto 75px 200px;
}

.header {
    font-family: 'Monofett', cursive;
    font-size: 60px;
}

.menu {
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 60px;
}

.content {
    font-family: 'Libre Barcode 128 Text';
    font-size: 60px;
    grid-row: auto;
}

.alba {
    font-family: 'Nosifer', cursive;
    font-size: 60px;
}

.container .box {
    background-color: #ececec00;
}

.a{
    grid-row: span 4;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto-fit;
}

.b {
    font-family: 'Monofett', cursive;
    font-size: 60px;
    grid-column: 1 /2;
    justify-self: center;
}

.c{
    font-family: 'Monofett', cursive;
    font-size: 60px;
    grid-column: 2 / 3;    
    justify-self: center;
}

.d {
    font-family: 'Monofett', cursive;
    font-size: 60px;
    grid-column: 3 / 4;  
    justify-self: center;
}

.ball {
    font-family: 'Trade Winds', cursive;
    font-size: 60px;
}

.xavier {
    font-family: 'Londrina Shadow', cursive;
    font-size: 60px;
}

.donkey {
    font-family: 'Akronim', cursive;
    font-size: 60px;
}

.footer {
    font-family: 'Codystar', cursive;
    font-size: 60px;
}